{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Hotel</title>

    <link rel="stylesheet" href="{% static 'css/choose_hotel.css' %}"> 
</head>

<body>
 
    <h1 id="brand">Choose Hotel</h1>

 
    <div class="content">
        {% if hotels %}
            <div class="button-container">
                {% for hotel in hotels %}
                    <a href="{% url 'hotel:RoomListView' hotel_id=hotel.id %}" class="hotel-button">{{ hotel.name }}</a>
                {% endfor %}
            </div>
        {% else %}
            <p>No hotels available.</p>
        {% endif %}
    </div>
</body>
</html>