<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Password Reset</title>
    <!-- Add your CSS stylesheets or links here if needed -->
</head>
<body>
    <h1>Password Reset</h1>

  <h1>Check your inbox.</h1>
  <p> We've emailed you instructions for setting your password. You should receive the email shortly!</p>

  <!-- You can include additional content or styling specific to this template -->

    <!-- Add your JavaScript scripts or links here if needed -->
</body>
</html>